<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Si vous êtes dans un sous-dossier, décommentez et ajustez la ligne ci-dessous
    # RewriteBase /~gader3/SAE401/backend/public

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Tentative d'augmentation des limites PHP (MMI peut bloquer ceci)
<IfModule mod_php7.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 25M
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 25M
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>
